aio_pika==9.5.5
APScheduler==3.11.0
python-consul
fastapi==0.115.11
fastapi_events==0.12.2
pandas==2.2.3
pydantic==2.10.6
pydantic_settings==2.8.1
python_dateutil==2.9.0.post0
Requests==2.32.3
SQLAlchemy==2.0.37
trendspy==0.1.6
uvicorn==0.34.0
