aio_pika==9.5.5
python-consul
esda==2.7.0
fastapi==0.115.11
fastapi_events==0.12.2
geopandas==1.0.1
httpx==0.28.1
libpysal==4.12.1
lightning==2.5.0.post0
ncps==1.0.1
numpy==2.2.4
pandas==2.2.3
pydantic==2.10.6
pydantic_settings==2.8.1
python_dateutil==2.9.0.post0
scipy==1.15.2
SQLAlchemy==2.0.37
torch==2.6.0
uvicorn==0.34.0
